body {
    background-image:url('https://www.callcentrehelper.com/images/stories/2019/03/piggy-bank-orange-bg-760.jpg');
    text-align: center;
  }

.navbar {
    background-color: #333333;
}
